.ReportFilter {
    margin-top: 30px;
}

.ReportFilter__form {
    display: flex;
    float: left;
}

.ReportFilter__form > * {
    margin-right: 20px;
    display: flex;
}

.ReportFilter__dates {
    padding-bottom: 20px;
}

.ReportFilter__inputGroup {
    width: 400px;
}

/* Bootstrap style for form control*/
.ReportFilter__dates input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ReportFilter .react-datepicker-wrapper {
    margin-right: 20px;
}

.ReportFilter__alert {
    clear: both;
}