.ReportsPage .table-wrapper {
    width: 1000px;
}
.ReportsPage__createNewReport {
    margin-top: 10px;
}

.ReportsPage__createNewReport a {
    color: white;
}

.ReportsPage__actions {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.ReportsPage__approveDeny {
    display: flex;
    justify-content: space-between;
}