.ReportDetail__text {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.ReportDetail__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ReportDetail__img {
    margin-right: 100px;
}